# If you want electrum to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum.desktop

[Desktop Entry]
Comment=Lightweight Bitcoinzero Client
Exec=electrum-bitcoinzero %u
GenericName[en_US]=Bitcoinzero Wallet
GenericName=Bitcoinzero Wallet
Icon=electrum-bitcoinzero
Name[en_US]=Electrum Bitcoinzero Wallet
Name=Electrum Bitcoinzero Wallet
Categories=Finance;Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/bitcoinzero;
Actions=Testnet;

[Desktop Action Testnet]
Exec=electrum-bitcoinzero --testnet %u
Name=Testnet mode
