# If you want electrum to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum.desktop

[Desktop Entry]
Comment=Lightweight Gravitycoin Client
Exec=electrum-gravitycoin %u
GenericName[en_US]=Gravitycoin Wallet
GenericName=Gravitycoin Wallet
Icon=electrum-gravitycoin
Name[en_US]=Electrum Gravitycoin Wallet
Name=Electrum Gravitycoin Wallet
Categories=Finance;Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/gravitycoin;
Actions=Testnet;

[Desktop Action Testnet]
Exec=electrum-gravitycoin --testnet %u
Name=Testnet mode
